<!doctype html>

<html>
<head>
    <title> Node MCU 양방향 통신 실험 </title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
<meta charset="utf-8">
</head>

<body>
    <p> </p>
<input type="button" value=“GO" style="WIDTH:200pt; HEIGHT:80pt; font-size:50pt" onclick="location.href='/led/go'";>
    &nbsp; &nbsp; &nbsp; &nbsp; <br><br>
    <input type="button" value=“BACK" style="WIDTH:200pt; HEIGHT:80pt; font-size:50pt" onclick="location.href='/led/back'";>
    &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
   <input type="button" value=“LEFT" style="WIDTH:200pt; HEIGHT:80pt; font-size:50pt" onclick="location.href='/led/left'";>
    &nbsp; &nbsp; &nbsp; &nbsp;<br><br>
   <input type="button" value=“RIGHT" style="WIDTH:200pt; HEIGHT:80pt; font-size:50pt" onclick="location.href='/led/right'";>
    &nbsp; &nbsp; &nbsp; &nbsp;<br><br>

  <br/>
  <p> LED is now <span id="state">{{state}}</span> state. </p>

</body>
</html>

